<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ucsal.pdm.unebrasil">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UneBrasil">
        <activity android:name=".view.CadBeneficiarioActivity" />
        <activity android:name=".view.CadDoadorActivity" />
        <activity android:name=".view.DoacaoActivity" />
        <activity android:name=".view.EsqueciSenhaActivity" />
        <activity android:name=".view.LoginActivity"/>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.SplashActivity"
           android:theme="@style/Theme.AppCompat.TelaCheia">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>